#py-trash
*.pyc
*.pyo
__pycache__/
venv/
.venv/
env/
#C/C++_Trash
*.o
*.a
*.so
*.dll
*.obj
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
.vscode/
.idea/
*.swp
#All
*.key
secret*
.env
*.tmp
*.bak
.DS_Store
